
:root {
  --MainColor: #60c1ff;
  --MainColorLight: #60c1ff;
  --MainColorDark: #006cb1;

  --BorderRadius: 5px;
}

body {
  margin:0;
  min-height: 100vh;
  background-color: var(--MainColor);
}


button {
  display: inline-block;
  padding: 10px 26px;
  margin: 4px 2px;
  border: none;
  border-radius: var(--BorderRadius);
  background-color: var(--MainColorLight);
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#content-area {
  max-width: 1000px;
  min-height: 100vh;
  margin: auto;
}