#signup-button {
  background-color: red;
};

.welcome {
  font-size: 37px;
}

#login-box {
  display: inline-block;
  width: 270px;
  height: 400px;
  margin-top: 30%;
  box-shadow: 0 0 3px black;
  border-radius: var(--BorderRadius);
  background-color: var(--MainColorDark);
}

#login {
  text-align: center;
}

.login-input {
  margin: 3px;
  height: 22px;
  border-radius: var(--BorderRadius);
  border: none;
}