

.welcome {
  font-size: 37px;
  margin: 5px;
}
.welcome:nth-child(2) {
  margin-bottom: 60px;
}

#login {
  text-align: center;
}

.centered-box {
  display: inline-block;
  width: 270px;
  height: 400px;
  margin-top: 30%;
  box-shadow: var(--BoxShadow);
  border-radius: var(--BorderRadius);
  background-color: var(--MainColorDark);
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.input-input:nth-child(2) {
  margin-bottom: 60px;
}

#signup-button {
  background-color: red;
  margin-top: 100px;
}