.top-nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--MainColorDark);
}

.top-nav-bar li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  &:hover {
    background-color: var(--MainColor);
  }
}
.home-tab {
  float: left;
}
.right-tab {
  float: right;
}